<footer>
  <div class="container-md beautiful-jekyll-footer">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
      {% include social-networks-links.html %}
      {% if page.footer-extra %}
        <div class="footer-custom-content">
          {% include {{ page.footer-extra }} %}
        </div>
      {% endif %}
      <p class="copyright text-muted">
      {% if site.author %}
        {{ site.author }}
        &nbsp;&bull;&nbsp;
      {% endif %}
      {{ site.time | date: '%Y' }}

      {% if site.url-pretty %}
        &nbsp;&bull;&nbsp;
        <a href="{{ '' | absolute_url }}">{{ site.url-pretty }}</a>
      {% endif %}

      {% if site.matomo %}
        {% if site.matomo.opt-out %}
          &nbsp;&bull;&nbsp;
          <a href="http://{{- site.matomo.uri -}}/index.php?module=CoreAdminHome&action=optOut" target="_blank" class="text_muted">Do-not-Track</a>
        {% endif %}
      {% endif%}
      </p>
      <!-- Please don't remove this, keep my open source work credited :) -->
      <p class="theme-by text-muted">
       
      </p>
      </div>
    </div>
  </div>
</footer>
